%div{'ng-app'=>'MappingEditorApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, source_property: @source.mapping_property.id, mapping_hash: @source.mapping, hierarchy: @hierarchy)}
  - angular_templates 'shared/angular'
  %div(ng-controller='MappingEditorCtrl')

    .row-fluid
      .span6
        %h2
          = @source.name
          \ :
          = @source.mapping_property.name

        %table.table
          %tr
            %th Source
            %th Target

          %tr(ng-repeat='mapping_entry in mapping' ng-controller='MappingEntryCtrl' ng-class='{active: mapping_entry.editing}')
            %td
              {{mapping_entry.source_value}}
            %td
              %a(href='javascript:' ng-click='edit()')
                {{mapping_entry.target_value || '(not mapped)'}}

      .span6(ng-show='selected_entry')
        %h2
          = @project.master_collection.name
          \ :
          = @project.target_field.name

        = render 'shared/angular/hierarchy_tree'

      .span6(ng-hide='selected_entry')
        %h2
          &nbsp
        .well
          Select a source value to edit mapping
