%div{'ng-app'=>'MappingEditorApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, source_property: @source.mapping_property.id, mapping_hash: @source.mapping, hierarchy: @hierarchy)}
  - angular_templates 'shared/angular'
  %div(ng-controller='MappingEditorCtrl')

    .row-fluid
      .span6
        %h2
          = @source.name
          \ :
          = @source.mapping_property.name

        .recon-panel
          %table.table
            %tr
              %th Source Division
              %th MFL Target Division

            %tr(ng-repeat='mapping_entry in mapping' ng-controller='MappingEntryCtrl' ng-class='{active: mapping_entry.editing}')
              %td
                {{mapping_entry.source_value}}
                .badge {{mapping_entry.source_count}}
              %td
                %a(href='javascript:' ng-click='edit()')
                  {{mapping_entry.target_value || '(not mapped)'}}

      .span6
        %h2
          = @project.master_collection.name
          \ :
          = @project.target_field.name

        .recon-panel(ng-show='selected_entry')
          = render 'shared/angular/hierarchy_tree'

        .well(ng-hide='selected_entry')
          Select a source value to edit mapping
