= back_to_project

%h1
  = @source.name

.row-fluid
  .span4
    %p
      .badge.badge-info
        = @sites_to_import
      facilities to import

    %div{'ng-app'=>'ProjectSourceAfterCreateApp', 'ng-init'=>init_scope(project_id: @project.id, source_id: @source.id, columns_spec: @columns_spec)}

      %div(ng-controller='AfterCreateCtrl')

        %fieldset
          .control-group(ng-class='{error: !valid_columns_spec}')
            %label.control-label Data source identifier:
            .controls
              %select(ng-model='identifier_column' ng-options='cs.header for cs in columns_spec')
              %span.help-inline(ng-show='valid_columns_loading')
                Validating...
              %span.help-inline(ng-show='!valid_columns_spec && validation_errors.length == 0')
                This column can't be used as identifier
              %span.help-inline(ng-show='!valid_columns_spec && validation_errors.length > 0')
                ResourceMap validation error: {{validation_errors}}
              
        %button.btn.btn-primary(ng-disabled="import_disabled" ng-click="import()" ladda-loading="importing" ng-hide="status_finished")
          Import

        = link_to project_source_path(@project, @source), :method => :delete, "class" => 'btn', "ng-show" => "!status_finished" do
          Delete

        = link_to upload_new_file_project_source_path(@project, @source), :method => :get, "class" => 'btn', "ng-show" => "!status_finished" do
          Upload new list


        %p(ng-show="status_finished")
          Facilities imported. You will be redirected in {{redirect_in}} seconds or
          %a(ng-href='{{redirect_url}}')
            click here
          \.
  .span4
    .alert.alert-info
      The source is almost ready.
      %br
      Select the identifier field.
      %br
      Click
      %b Import
      when ready.

