= back_to_project

%h1
  New facility source
  
%p Choose a name for the list and upload it.  

%p
  = link_to "Download a sample csv here", "/sample_source_list.csv"

%br
.row-fluid
  .span4
    = simple_form_for @new_source_list, url: create_from_file_project_sources_path(@project) do |f|

      
      = f.input :name
      = f.input :file, label: 'File (.csv documents only)'

      = submit_ladda_button 'Upload & continue'

    %a.muted(href='#advanced' data-toggle='collapse') advanced

    #advanced.collapse
      = simple_form_for @source_list, url: create_from_collection_project_sources_path(@project) do |f|
        Or choose an existing ResourceMap collection
        = f.input :collection_id, collection: @collection_ids

        = submit_ladda_button 'Create & continue'

  .span4
    .alert.alert-info
      Each source list must have the following:
      %br
      %br
      %div
        1. A field titled "Name" for the facility name.
      %div
        2. A field with a unique identifier.
      %div
      3. Individual fields for each level of the admin hierarchy (i.e., Region, District, etc.). 
      %br
      %br
      Also, make sure that the source list administrative hierarchy matches the MFL hierarchy.
