%div{'ng-app'=>'FacilityPromotionApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, collection_id: @source.collection_id, sites_to_promote_ids: @sites_to_promote_ids)}
  - angular_templates 'shared/angular'

  .row-fluid
    .span9
      %div{'ng-controller' => 'FacilityPromotionCtrl'}
        %rm-collection-context{id: @source.collection_id}
          = link_to '← back to source list', source_list_details_project_source_path(@project, @source)
          %h1
            Promote sites in
            = @source.name

          - if @project.no_source_list_was_promoted?
            .alert.alert-warning
              %i.icon-warning-sign
              This process can be executed in only one source list.

          %div
            {{count}} sites to promote

          %div
            %a.btn.btn-success.btn-large{'ng-click' => 'start()', 'ng-disabled' => '!can_start'}
              %i.icon-play.icon-white
              Start
            %span{'ng-show' => 'working'}
              %i.icon-warning-sign
              The process will stop if you navigate away or close your browser window
            %div.inline{'ng-show' => 'done'}
              = link_to project_path(@project), class: "btn btn-primary btn-large" do
                %i.icon-white.icon-ok
                Done! Back to project

          %br
          .progress-indication
            .progress
              .bar{style: 'width: {{processed_percentage}};'}
            %div
              {{processed}} of {{count}} sites processed
              %span{'ng-show' => 'failed > 0'} - {{failed}} have failed

          %h3 Properties to be promoted to master

          %ul.unstyled
          - ['Name', 'Latitude', 'Longitude'].each do |label|
            %label= "#{label} → #{label}"
          - @source.common_properties_with_master.each do |code|
            %rm-label.inline{code: code}
            →
            %rm-label.inline{code: code}
            %br
          - @source.properties_not_in_master.each do |code|
            %input{type: :checkbox, "ng-model" => "promoted_properties['#{code}']"}
            %rm-label.inline{code: code}
            →
            %rm-label.inline{code: code}
            %br
