%h1
  = link_to @project.name, project_path(@project)
  Administrative Division Mapping

.row-fluid

  .span3
    %h2 Sources
    %table.table
      %tr
        %th
          Facility List
        %th
          Fully mapped?
        %th
      - @project.source_lists.each do |source|
        %tr{:class => "#{'active' if @source && source.id == @source.id}"}
          %td= source.name
          %td ?
          %td
            = link_to 'Edit', review_mapping_project_source_path(@project, source)

  .span9
    - if @source.nil?
      %h2
        &nbsp
      .well
        Select a source list to edit mapping
    - else
      = render 'mapping_editor'

.row-fluid
  .span12
    %a{:href => project_path(@project)}
      Done with mapping, go back.
