%div{'ng-app'=>'MappingEditorApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, source_property: @source.mapping_property.id, source_field_options: @source.as_collection.fields.map{|f| {name: f.name, id: f.id}}.select{|h| !h[:name].starts_with?("_")}, mapping_hash: @source.mapping, hierarchy: @hierarchy)}
  - angular_templates 'shared/angular'

  %div{'ng-controller' => 'MappingEditorCtrl'}
    %h1
      = link_to @project.name, project_path(@project)
      = @source.name

    %div
      %a upload new version

    %h2 Facilities classification

    {{percentage_classified}}
    classified
    .progress
      .bar{style: "width: {{percentage_classified}}"}

    %p Facilities in source lists need to be classified into the geo-political division.

    %p
      Classify by:
      %select{'ng-model' => 'mapping_property', 'ng-options' => 'f.name for f in fields'}

    = render 'mapping_editor'

    %h2 Facilities curation

    %div
      = link_to "export not curated data", unmapped_csv_download_project_source_path(@project, @source)

    = "#{@curation_progress} curated"
    .progress
      .bar{style: "width: #{@curation_progress}"}
