%div{'ng-app'=>'MappingEditorApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, source_property: @source.mapping_property.try(:id), source_field_options: @source.as_collection.fields.map{|f| {name: f.name, id: f.id}}.select{|h| !h[:name].starts_with?("_")}, mapping_hash: @source.mapping, hierarchy_field_id: @hierarchy_field_id)}
  - angular_templates 'shared/angular'

  .row-fluid
    .span9
      %div{'ng-controller' => 'MappingEditorCtrl'}
        = back_to_project
        %h1
          = @source.name

        = link_to unmapped_csv_download_project_source_path(@project, @source), class: "btn btn-large" do
          %i.icon-download-alt
          Export not curated data

        = link_to '#', class: "btn btn-large disabled" do
          %i.icon-upload
          Upload new version

        - if @source.can_promote?
          = link_to promote_facilities_project_source_path(@project, @source), class: "btn btn-large" do
            %i.icon-fast-forward
            Promote facilities to MFL

        %h2 Facilities Mapping

        = "#{@curation_progress || "0%"} curated, "
        {{(percentage_classified | number) || 0}}%
        mapped

        .progress
          .bar.bar-success{style: "width: #{@curation_progress}"}
          .bar{style: "width: {{percentage_classified}}%"}

        %p Source Lists must be mapped to the MFL Geo-Political Division.

        %p
          Source Mapped By:
          %select{'ng-model' => 'mapping_property', 'ng-options' => 'f.name for f in fields'}

          %span(ng-show='mapping_property_loading') Loading ...

        = render 'mapping_editor'

    .span3
      .well
        .row-fluid
          .span12
            %span.huge
              = @source.as_collection.sites.count
            %span
              facilities

        %br

        .row-fluid
          .span12
            = link_to 'view in resourcemap →', @source.as_collection.show_url, target: '_blank'
