%div{'ng-app'=>'MappingEditorApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, source_field_options: @source.as_collection.fields.map{|f| {name: f.name, id: f.code}}.select{|h| !h[:name].starts_with?("_")}, hierarchy: @project.hierarchy, percentage_classified: @mapping_progress)}
  - angular_templates 'shared/angular'

  .row-fluid
    .span9
      %div{'ng-controller' => 'MappingEditorCtrl'}
        = back_to_project
        %h1
          = @source.name

        = link_to unmapped_csv_download_project_source_path(@project, @source), class: "btn btn-large" do
          %i.icon-download-alt
          Export not curated data

        %span

        = link_to '#', class: "btn btn-large disabled" do
          %i.icon-upload
          Upload new version

        %span

        - if @source.can_promote?
          = link_to promote_facilities_project_source_path(@project, @source), class: "btn btn-large" do
            %i.icon-fast-forward
            Promote facilities to MFL

        %h2 Facilities Mapping

        = "#{@curation_progress || 0}% curated, "
        {{(percentage_classified | number) || 0}}%
        mapped

        .progress
          .bar.bar-success{style: "width: #{@curation_progress}%"}
          .bar{style: "width: {{percentage_classified - #{@curation_progress}}}%"}

        .span9
          %table.table.table-bordered
            %thead
              %th Level
              %th Map from
            %tbody
              %tr{'ng-repeat' => 'level in hierarchy_levels', 'style' => 'vertical-align:middle'}
                %td
                  Level (e.g. {{$index + 1}}: {{level.name}})
                %td
                  %select{'ng-model' => 'level.option', 'ng-options' => 'option.name group by option.kind for option in level.options', 'ng-change' => 'recompute_hierarchy_levels($index)'}

          .map-button.pull-right
            %span{'ng-show' => '!all_fields_chosen'} Choose a value or a field for every level
            %button.btn.btn-primary{'ng-click' => 'process_automapping()', 'ladda-loading' => 'loading_error_tree', 'ng-disabled' => '!all_fields_chosen'} Map

        .span9#mapping-errors-tree
          %h3 Hierarchy mapping errors
          %div{'ng-show' => 'error_tree == undefined'} No conflicts yet! Select fields and press map to start automapping
          %ul{'ng-show' => 'error_tree != undefined'}
            %li(ng-repeat='node in error_tree' ng-include="'error_tree_node.html'")

          %button.btn.btn-primary.pull-right{'ng-show' => 'error_tree != undefined', 'ng-click' => 'process_automapping()', 'ladda-loading' => 'loading_error_tree'} Apply corrections

    .span3
      .well
        .row-fluid
          .span12
            %span.huge
              = @source.site_mappings.count
            %span
              facilities

        %br

        .row-fluid
          .span12
            = link_to 'view in resourcemap →', @source.as_collection.show_url, target: '_blank'
