.row-fluid#merge-panel
  .span8#source-sites-container
    .source-list{'ng-repeat' => '(source_id, source_sites) in merge_source_sites'}
      %legend {{ source_name(source_id) }}
      .source{'ng-repeat' => 'source_site in source_sites'}
        %div
          %label Facility Name
          %span(dnd-source='source_site.name') {{source_site.name}}

        %label Latitude & Longitude
        .input-append
          %span.input-small(dnd-source='source_site.lat') {{ source_site.lat }}
          %span.input-small(dnd-source='source_site.long') {{ source_site.long }}
          %button.btn(location-edit editable='false' latitude='source_site.lat' longitude='source_site.long')
            %i.icon-globe


        %div{'ng-repeat'=>'(key, value) in source_site.properties'}
          %label {{header_for(source_site, key)}}
          %span(dnd-source='value') {{value}}

  .span4
    %fieldset(ng-disabled='viewing_reconciliations')
      %legend Master Facility

      .control-group(ng-class='{error: merge_mfl_site.duplicate}')
        %label Facility Name
        %input(type='text' ng-model='merge_mfl_site.name' dnd-target='merge_mfl_site.name' ng-change='check_for_duplicate(merge_mfl_site.name)')
        %span.help-inline(ng-show='merge_mfl_site.duplicate') There already is a facility with this name in this district

      .control-group
        %label Latitude & Longitude
        .input-append
          %input.input-small(type='text' ng-model='merge_mfl_site.lat' dnd-target='merge_mfl_site.lat')
          %input.input-small(type='text' ng-model='merge_mfl_site.long' dnd-target='merge_mfl_site.long')
          %button.btn(location-edit latitude='merge_mfl_site.lat' longitude='merge_mfl_site.long')
            %i.icon-globe

      - @project.master_collection.fields.each do |field|
        - if field.id != @project.master_collection_target_field_id
          .control-group{'ng-class' => "{error: has_errors(\"#{field.id}\")}"}
            %label= field.name
            %input{'type'=>'text', 'ng-model'=>"merge_mfl_site.properties.#{field.code}", 'dnd-target' =>"merge_mfl_site.properties.#{field.code}"}
            %br
            %label{'class' => 'control-label', 'has-error'=>'', 'ng-show' => "has_errors(\"#{field.id}\")"}
              = "{{error_message(\"#{field.id}\")}}"


      %button.btn.btn-inverse(ng-click='consolidate()' ladda-loading='consolidate_loading' ng-disabled='merge_mfl_site.duplicate' ng-show='!viewing_reconciliations')
        Save & Consolidate
      / %br
      / %span
      /   with {{source_site.name}}
