= back_to_project

%div{'ng-app'=>'CurationApp', 'ng-init'=> init_scope(project_id: @project.id, hierarchy_field_id: @hierarchy_field_id, app_master_site_id: @project.app_master_site_id, hierarchy_target_field_code: @project.target_field.code, pending_list: @pending_changes_site_list)}
  - angular_templates 'shared/angular'

  %div(ng-controller='CurationPanel')
    .row-fluid
      .span3
        %rm-collection-context(id="#{@project.master_collection.id}")
          %h2 Administrative Unit
          %div(ng-controller='HierarchyChooser')
            %rm-hierarchy-tree(field_id="#{@hierarchy_field_id}")

      .span9
        .row-fluid
          .span12
            %h2 Source Lists

            .recon-panel
              = render 'search_source_records'

              / = render 'pending_sites'
              %mfl-grid(mfl-data-source='sites')

              .well(ng-show='selected_node && !sites_loading && sites.items.length == 0')
                There are no sites updates!

        .row-fluid
          .span12(ng-controller='MasterFacilityListSitesCtrl')

            %h2 Master List

            .recon-panel
              = render 'search_master_site'

              %mfl-grid(mfl-data-source='mfl_sites')
              /= render 'master_list_grid'
