%h1
  = link_to @project.name, project_path(@project)
  curation

%div{'ng-app'=>'CurationApp', 'ng-init'=> init_scope(project_id: @project.id, hierarchy: @hierarchy, app_master_site_id: @project.app_master_site_id, hierarchy_target_field_code: @project.target_field.code)}
  - angular_templates 'shared/angular'

  %div(ng-controller='CurationPanel')
    .row-fluid
      .span3
        %h2 Filter by
        = render 'shared/angular/hierarchy_tree'

      .span3
        %h2 Review changes

        %span(ng-show='sites_loading') Loading...

        .recon-panel
          .accordion(ng-show='selected_node && !sites_loading')
            = render 'pending_sites'

          .well(ng-hide='selected_node')
            Select a category to filter by.

          .well(ng-show='selected_node && !sites_loading && sites.length == 0')
            There are no sites updates!

      .span6(ng-controller='ConsolitateSiteCtrl')
        .row-fluid
          .span6
            %h2 Consolidate

            %div.recon-panel

              = render 'search_master_site'

              %div(ng-show='target_site != null')
                %button.btn.btn-link(ng-click='go_to_search()') Back

                %fieldset
                  .control-group
                    %label Facility Name
                    %input(type='text' ng-model='target_site.name')

                  - @project.master_collection.fields.each do |field|
                    - if field.id != @project.master_collection_target_field_id
                      .control-group
                        %label= field.name
                        %input{'type'=>'text', 'ng-model'=>"target_site.properties.#{field.code}"}

                %div
                  %button.btn.btn-inverse(ng-show='source_site' ng-click='consolidate()')
                    Save & Consolidate with
                    %br
                    {{source_site.name}}

                  .alert(ng-hide='source_site') Select a pending change

          .span6(ng-show='target_site != null')
            = render 'other_consolidations'
