= back_to_project

%div{'ng-app'=>'CurationApp', 'ng-init'=> init_scope(project_id: @project.id, hierarchy_field_id: @hierarchy_field_id, app_master_site_id: @project.app_master_site_id, hierarchy_target_field_code: @project.target_field.code, pending_list: @pending_changes_site_list)}
  - angular_templates 'shared/angular'

  %div(ng-controller='CurationPanel')
    .row-fluid
      .span3
        %rm-collection-context(id="#{@project.master_collection.id}")
          %h2 Filter by
          %div(ng-controller='HierarchyChooser')
            %ul.nav.nav-tabs
              %li(ng-class='{active: tree_visible}')
                %a(href='javascript:' ng-click='select_tree()') Tree
              %li(ng-class='{active: list_visible}')
                %a(href='javascript:' ng-click='select_list()') List

            .tab-content
              .tab-pane(ng-class='{active: tree_visible}')
                %rm-hierarchy-tree(field_id="#{@hierarchy_field_id}")
              .tab-pane(ng-class='{active: list_visible}')
                = render 'pending_list'

      .span3
        %h2 Review Source Records

        .recon-panel
          .accordion(ng-show='selected_node')
            = render 'pending_sites'

          .well(ng-hide='selected_node')
            Select a category to filter by.

          .well(ng-show='selected_node && !sites_loading && sites.length == 0')
            There are no sites updates!

      .span6(ng-controller='ConsolitateSiteCtrl')
        .row-fluid
          .span6
            %h2 Reconcile to MFL

            %div.recon-panel

              = render 'search_master_site'

              %div(ng-show='target_site != null')
                %button.btn.btn-link(ng-click='go_to_search()') Back

                %form(name="masterSiteForm" ng-submit="consolidate()" novalidate)
                  .control-group
                    %label Facility Name
                    %input(type='text' ng-model='target_site.name' dnd-target='target_site.name' name='name' required)
                    %span.help-block(ng-show="masterSiteForm.name.$error.required") Name is required

                  .control-group
                    %label Latitude & Longitude
                    .input-append
                      %input.input-small(type='text' ng-model='target_site.lat')
                      %input.input-small(type='text' ng-model='target_site.long')
                      %button.btn(type='button' location-edit latitude='target_site.lat' longitude='target_site.long')
                        %i.icon-globe

                  - @project.master_collection.fields.each do |field|
                    - if field.id != @project.master_collection_target_field_id
                      .control-group
                        %label= field.name
                        %input{'type'=>'text', 'ng-model'=>"target_site.properties.#{field.code}", 'dnd-target' =>"target_site.properties.#{field.code}"}

                  %div
                    %input.btn.btn-inverse(type='submit' value='Save & Consolidate' ng-show='source_site' ladda-loading='consolidate_loading')
                    %br
                    %span
                      with {{source_site.name}}

                  .alert(ng-hide='source_site') Select a pending change

          .span6(ng-show='target_site != null')
            = render 'other_consolidations'
