%h1
  = link_to @project.name, project_path(@project)
  curation

%div{'ng-app'=>'CurationApp', 'ng-init'=> init_scope(project_id: @project.id, hierarchy: @hierarchy)}
  - angular_templates 'shared/angular'

  %div(ng-controller='CurationPanel')
    .row-fluid
      .span3
        %h2 Filter by
        = render 'shared/angular/hierarchy_tree'

      .span3
        %h2 Review changes

        %span(ng-show='sites_loading') Loading...

        .recon-panel
          .accordion(ng-show='selected_node && !sites_loading')
            = render 'pending_sites'

          .well(ng-hide='selected_node')
            Select a category to filter by.

          .well(ng-show='selected_node && !sites_loading && sites.length == 0')
            There are no sites updates!

      .span3
        %h2 Consolidate

        %div.recon-panel(ng-controller='ConsolitateSiteCtrl')

          %div(ng-controller='SearchSiteCtrl' ng-show='target_site == null')
            %input.search-query(ng-model='search')

            %div(ng-show='search_loading') Loading...

            %div(ng-show='!search_loading && sites.length == 0') There are no sites that match the criteria.

            %div(ng-show='!search_loading && sites == null') Input site criteria.

            %br
            %br
            %ul.nav.nav-tabs.nav-stacked(ng-hide='search_loading')
              %li(ng-repeat='site in sites')
                %a(href='javascript:' ng-click='select(site)')
                  {{site.name}}

          %div(ng-show='target_site != null')
            %button.btn.btn-link(ng-click='go_to_search()') Back
            %ul.unstyled
              %li
                %b name
                %span {{target_site.name}}

              %li{'ng-repeat'=>'(key, value) in target_site.properties'}
                %b {{key}}
                %span {{value}}

              %div
                %button.btn.btn-inverse(ng-show='source_site' ng-click='consolidate()')
                  Save & Consolidate with
                  %br
                  {{source_site.name}}

                .alert(ng-hide='source_site') Select a pending change

            %hr

            %div(ng-show='consolidated_sites == null')
              Loading past consolidations...

            %div(ng-show='consolidated_sites != null')
              %h3 Other consolidations

              %p(ng-show='consolidated_sites.length == 0')
                There are no consolidations

              .accordion-group(ng-repeat='site in consolidated_sites')
                .accordion-body.selected
                  .accordion-inner
                    .badge.label-warning{'ng-hide'=>"site.properties.#{@project.app_seen_field_name}"} Pending
                    .badge.label-success{'ng-show'=>"site.id == source_site.id"} Selected
                    = render 'display_sites_fields'

