%h1 New curation project

= simple_form_for @project do |f|
  = f.input :name

  = f.input :template, as: :radio_buttons, collection: @templates, checked: @templates.first

  .control-group
    = submit_ladda_button 'Create'
    = link_to 'Cancel', projects_path, class: 'btn btn-link'
