.row-fluid

  .span9
    %h2 Step 1. Define MFL Schema

    .row-fluid
      .span6
        %p
          = link_to 'Review MFL Schema in Resource Map →', @project.master_collection.layers_url, target: '_blank'
        - if @project.master_collection.site_count == 0
          %p
            = link_to "Import initial MFL data using Resource Map's Import Wizard →", @project.master_collection.import_wizard_url, target: '_blank'

    %h2 Step 2. Import and  Map Source List
    Note: Unmapped records can't be reconciled in Step 3

    %br
    %br

    = render 'source_lists'

    %h2 Step 3. Reconciled Facility Data
    = "#{@curation_progress} reconciled"
    .progress
      .bar{style: "width: #{@curation_progress}"}
    %p
      = link_to 'Reconcile Source Lists', curate_project_path(@project)

    %h2 Step 4. Export MFL

    %p
      = link_to 'Review and Edit MFL Data', project_master_sites_path(@project)
    %p
      = link_to 'Download a PROMIS .csv', csv_download_project_master_path(@project)
    %p
      = link_to 'Download Master Facility List', @project.master_collection.csv_url

  .span3
    .well
      .row-fluid
        .span12
          %span.huge
            = @project.master_collection.sites.count
          %span
            master facilities
      %br
      .row-fluid
        .span12
          %span.huge
            = @project.users.count
          %span
            members collaborating

      %br

      / %p
      /   = link_to "Recent activity", "http://resmap-stg.instedd.org/activity", target: '_blank'
      %p
        = link_to 'View mfl in resource map →', @project.master_collection.show_url, target: '_blank'
      %p
        = link_to 'Invite user to collaborate', project_members_path(@project)
