%h1
  = link_to @project.name, project_path(@project)
  MFL Reconciliation Tool

.row-fluid

  .span3
    .well
      %h2 Details
      %dl
        %dt
          Master Facility List
        %dd
          = @project.master_collection.name
          = link_to 'view →', @project.master_collection.show_url, target: '_blank'

        %dt
          Source Facility Lists
        - @project.source_collections.each do |c|
          %dd
            = c.name

  .span9
    %h2 1. Import Facility Lists
    = render 'import_new_data'

    %h2 2. Map Administrative Division
    = link_to 'go →', review_mapping_project_sources_path(@project)

    %h2 3. Curate Facility Data
    %p
      = link_to 'Curate pending facility data by geo-political hierarchy →', curate_project_path(@project)
    %p
      = link_to 'Review MFL data →', project_master_sites_path(@project)

    %h2 4. Export MFL
    = link_to 'download csv', csv_download_project_master_path(@project)
