%h1
  = link_to @project.name, project_path(@project)
  MFL Reconciliation Tool

.row-fluid

  %h2 Step 1. Define MFL Schema

  %h2 Step 2. Import/Review Source List
  = render 'source_lists'

  Note: not classified records can't be reconciliated in MFL

  %h2 Step 3. Curate Facility Data
  = "#{@curation_progress} classified"
  .progress
    .bar{style: "width: #{@curation_progress}"}
  %p
    = link_to 'Curate pending facility data by geo-political hierarchy', curate_project_path(@project)
  %p
    = link_to 'Review MFL data', project_master_sites_path(@project)

  %h2 Step 4. Export MFL
  = link_to 'Download csv', csv_download_project_master_path(@project)
