.row-fluid

  .span9
    %h2 Step 1. Define MFL Schema

    %p
      = link_to 'Review MFL Schema in Resource Map →', @project.master_collection.layers_url, target: '_blank'
    %p
      = link_to 'Import CSV to MFL →', @project.master_collection.import_wizard_url, target: '_blank'

    %h2 Step 2. Import/Review Source List
    = render 'source_lists'

    Note: Unmapped records can't be reconciled in Step 3

    %h2 Step 3. Reconciled Facility Data
    = "#{@curation_progress} reconciled"
    .progress
      .bar{style: "width: #{@curation_progress}"}
    %p
      = link_to 'Reconcile Source Lists', curate_project_path(@project)

    %h2 Step 4. Export MFL
    %p
      = link_to 'Review and Edit MFL Data', project_master_sites_path(@project)
    %p
      = link_to 'Download a PROMIS .csv', csv_download_project_master_path(@project)

  .span3
    .well
      = link_to 'Invite user to collaborate', project_members_path(@project)
