= back_to_project

%h1 Members

.row-fluid
  .span6
    %table.table.table-bordered
      %tr
        %th Email
        %th
      - @project.users.each do |user|
        %tr
          %td= user.email
          %td
            - unless @project.users.count == 1 && user == current_user
              = link_to 'Remove', project_member_path(@project, user), method: :delete, class: 'ladda'

%h2 Invite members

= form_for :member, html: { class: 'form-inline add-members' } do |f|
  = f.text_field :email, class: 'input', placeholder: 'Email', autocomplete: 'off'
  = submit_ladda_button 'Add'

:javascript
  $(function(){
    $('.add-members input[name="member[email]"]').
      typeahead({
        source: function (query, process) {
          $.get("/projects/#{@project.id}/members/typeahead", {q: query},
            function(data){ process(data); });
        }
      });
  });
