!!!
%html
  %head
    %title ResourceMap Reconciliation & Curation tools
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{Settings.google_api_key}&sensor=false", :type => "text/javascript"}

    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          - unless @project.nil? || @project.new_record?
            %a.brand{:href => project_path(@project)}
              = @project.name
          - else
            %a.brand{:href => root_url} MFL Reconciliation Tool

          .nav-collapse.collapse.pull-right
            %ul.nav
              - if current_user
                %li
                  = link_to 'View projects', projects_path
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = current_user.email
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'Logout', session_path, method: :delete
              - else
                %li
                  = link_to 'Sign in', new_session_path

    = render 'shared/messages'

    .container-fluid
      = yield

    %br
